.text {
  margin-bottom: 0.3906vw;
}
.white {
  color: #e0e0e0;
}
.glitch,
.glitch1 {
  position: relative;
  user-select: none;
}

.glitch span,
.glitch1 span {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  width: var(--width);
}

.glitch1 span:first-child {
  animation: glitch 950ms infinite;
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
  transform: translate(-0.025em, -0.0125em);
  opacity: 0.8;
}
.glitch1 span:last-child {
  animation: glitch 575ms infinite;
  clip-path: polygon(0 80%, 100% 20%, 100% 100%, 0 100%);
  transform: translate(0.0125em, 0.025em);
  opacity: 0.8;
}

.glitch span:first-child {
  animation: glitch 1250ms infinite;
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
  transform: translate(-0.025em, -0.0125em);
  opacity: 0.8;
}

.glitch span:last-child {
  animation: glitch 975ms infinite;
  clip-path: polygon(0 80%, 100% 20%, 100% 100%, 0 100%);
  transform: translate(0.0125em, 0.025em);
  opacity: 0.8;
}

.inInput {
  margin: 0 0 0 -18px;
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 rgb(0, 0, 0), -0.05em -0.025em 0 rgba(255, 255, 255),
      -0.025em 0.05em 0 #e0e0e0;
  }
  14% {
    text-shadow: 0.05em 0 0 rgb(0, 0, 0), -0.05em -0.025em 0 rgba(255, 255, 255),
      -0.025em 0.05em 0 #e0e0e0;
  }
  15% {
    text-shadow: -0.05em -0.025em 0 rgb(0, 0, 0),
      0.025em 0.025em 0 rgba(255, 255, 255), -0.05em -0.05em 0 #e0e0e0;
  }
  49% {
    text-shadow: -0.05em -0.025em 0 rgb(0, 0, 0),
      0.025em 0.025em 0 rgba(255, 255, 255), -0.05em -0.05em 0 #e0e0e0;
  }
  50% {
    text-shadow: 0.025em 0.05em 0 rgb(0, 0, 0), 0.05em 0 0 rgba(255, 255, 255),
      0 -0.05em 0 #e0e0e0;
  }
  99% {
    text-shadow: 0.025em 0.05em 0 rgb(0, 0, 0), 0.05em 0 0 rgba(255, 255, 255),
      0 -0.05em 0 #e0e0e0;
  }
  100% {
    text-shadow: -0.025em 0 0 rgb(0, 0, 0),
      -0.025em -0.025em 0 rgba(255, 255, 255), -0.025em -0.05em 0 #e0e0e0;
  }
}
